<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="harveywilliams.net-ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^harveywilliams\.net$" />
					 </conditions>
                    <action type="Rewrite" url="http://portfolio.local:1000/{R:1}" />
                </rule>
				
				<rule name="portfolio.local-ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^portfolio\.local$" />
					 </conditions>
                    <action type="Rewrite" url="http://portfolio.local:1000/{R:1}" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="customstart.page-ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img, Script" pattern="^(//)?customstart.local(:)?(1234)?(/)?(.*)?" />
					<action type="Rewrite" value="//customstart.page/{R:5}" />
                </rule>
				
                <rule name="portfolio.local-ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(//)?customstart.local(:)?(1234)?(/)?(.*)?" />
					<action type="Rewrite" value="//{R:2}cs.local/{R:5}" />
                </rule>
				
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
