<header>
	<h2>Harvey Williams</h2>
	<img class="circle" src="/Media/me.jpg" />
</header>
<nav>
	<a class="active" href="/index">
		Home
	</a>
	<a href="/portfolio">
		Portfolio
	</a>
	<a href="/blog">
		Blog
	</a>
</nav>
<button id="nav-close" class="diamond toggle"></button>
<footer>
	<a href="https://github.com/HarveyWilliams">
		<img src="/Media/Icons/github.png"/>
	</a>
	<a href="http://stackoverflow.com/users/2963111/harvey">
		<img src="/Media/Icons/stackoverflow.png"/>
	</a>
	<a href="https://uk.linkedin.com/pub/harvey-williams/99/636/b72">
		<img src="/Media/Icons/linkedin.png"/>
	</a>
</footer>
