<header>
    <h2>Harvey Williams</h2>
    <img class="circle" src="/Media/me-2.jpg" alt="Harvey Williams" />
</header>
<nav>
    <a <% if(pageGroup === 'home') { %>class="active" <% } %>href="/">
        Home
    </a>
    <a <% if(pageGroup === 'projects') { %>class="active" <% } %>href="/portfolio">
        Portfolio
    </a>
    <a <% if(pageGroup === 'blog') { %>class="active" <% } %>href="/blog">
        Blog
    </a>
</nav>
<a href="#" id="nav-close" class="diamond toggle" title="Hide the sidebar."></a>
<footer>
    <a href="https://github.com/HarveyWilliams" target="_blank">
        <i class="icon-github"></i>
    </a>
    <a href="http://stackoverflow.com/users/2963111/harvey" target="_blank">
        <i class="icon-stackoverflow"></i>
    </a>
    <a href="https://uk.linkedin.com/pub/harvey-williams/99/636/b72" target="_blank">
        <i class="icon-linkedin"></i>
    </a>
    <a href="https://twitter.com/harvzor/" target="_blank">
        <i class="icon-twitter"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCZ8wtaPXrdeIyaf2GRiQ3ag" target="_blank">
        <i class="icon-youtube"></i>
    </a>
    <div class="sub-footer">
        <a href="/cv">CV</a>
    </div>
</footer>

