<header>
	<h2>Harvey Williams</h2>
	<img class="circle" src="/Media/me.jpg" />
</header>
<nav>
	<a <% if(pageGroup === 'home') { %>class="active" <% } %>href="/">
		Home
	</a>
	<a <% if(pageGroup === 'portfolio') { %>class="active" <% } %>href="/portfolio">
		Portfolio
	</a>
	<a <% if(pageGroup === 'blog') { %>class="active" <% } %>href="/blog">
		Blog
	</a>
</nav>
<a href="#" id="nav-close" class="diamond toggle" title="Hide the sidebar."></a>
<footer>
	<a href="https://github.com/HarveyWilliams">
		<i class="icon-github"></i>
	</a>
	<a href="http://stackoverflow.com/users/2963111/harvey">
		<i class="icon-stackoverflow"></i>
	</a>
	<a href="https://uk.linkedin.com/pub/harvey-williams/99/636/b72">
		<i class="icon-linkedin"></i>
	</a>
</footer>
