<article class="center">
    <%- bodyText %>
</article>
<h2 class="center">What I can do</h2>
<div class="info-columns">
    <div class="box info-columns-column">
        <i class="icon-code-start"></i>
        <h3>Frontend</h3>
        <p>HTML5, CSS3, JS, responsive design</p>
    </div>
    <div class="box info-columns-column">
        <i class="icon-code-end"></i>
        <h3>Backend</h3>
        <p>ASP.NET with C#, MVC, NodeJS</p>
    </div>
    <div class="box info-columns-column">
        <i class="icon-database"></i>
        <h3>Server setup</h3>
        <p>Windows Server, MS SQL, DNS</p>
    </div>
    <div class="box info-columns-column">
        <i class="icon-wrench"></i>
        <h3>Using</h3>
        <p>Umbraco CMS, Git, Vim, Visual Studio</p>
    </div>
</div>
<h2 class="center">My latest blog posts</h2>
<div class="post-preview-columns">
    <% include partials/posts %>
</div>

