<article class="center">
    <%- bodyText %>
</article>
<h2 class="center">Key skills</h2>
<div class="info-columns">
    <% technologies.forEach(tech => { %>
        <div class="box info-columns-column">
            <i class="icon-<%= tech.icon %>"></i>
            <h3><%= tech.title  %></h3>
            <div class="example-technologies">
                <% tech.keywords.forEach(keyword => { %>
                    <span class="meta"><%= keyword %></span>
                <% }) %>
            </div>
        </div>
    <% }) %>
</div>
<h2 class="center">Latest blog posts</h2>
<div class="post-preview-columns">
    <% include partials/posts %>
</div>
