<div class="portfolio">
	<% examples.forEach(function(example) { %>
		<a href="/portfolio/<%= example.href %>" class="example">
			<div class="info">
				<%= example.name %>
			</div>
			<img src="/Media/Portfolio/<%= example.cover %>"/>
		</a>
	<% }); %>
</div>
