<article class="box">
    <div class="meta">
        <span class="meta-detail">Posted:</span> <%= helpers.friendlyDate(postDate) %>
    </div>
    <%- bodyText %>
</article>
<% if (relatedPosts.length > 0) { %>
    <h2>Related blog posts</h2>
    <% relatedPosts.forEach(relatedPost => { %>
        <%- include('partials/post-preview', { post: relatedPost.post }) %>
    <% }); %>
<% } %>
<% /* include partials/prev-next-posts */ %>
<% include partials/disqus %>
