<% include partials/filter %>
<% postsByYear.forEach(group => { %>
    <h2><%= group.year %></h2>
    <% group.posts.forEach(post => { %>
        <%- include('partials/post-preview', { post: post }) %>
    <% }); %>
<% }); %>
