<div class="group masonry">
    <% projects.forEach(project => { %>
        <a href="<%= project.path %>" class="box example">
            <div class="info">
                <%= project.name %>
            </div>
            <img src="<%= project.cover %>" alt="" />
        </a>
    <% }); %>
</div>
