<article class="box">
    <% for (var i = 0; i < songs.length; i++) { %>
        <h2><%= songs[i].name %> by <%= songs[i].artist %></h2>
        <small>Added <%= songs[i].date %></small>
        <br />
        <iframe width="560" height="315" src="<%= songs[i].url %>" frameborder="0" allowfullscreen></iframe>
    <% } %>
</article>
