$susy: (
	flow: ltr,
	math: fluid,
	output: float,
	gutter-position: split,
	container: 1200px,
	container-position: center,
	columns: 36,
	gutters: 0,
	column-width: false,
	global-box-sizing: border-box ,
	last-flow: to,
	debug: (
		image: hide,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,
	),
	use-custom: (
		background-image: true,
		background-options: false,
		box-sizing: true,
		clearfix: false,
		rem: true,
	)
);

@include border-box-sizing;

html, body {
	height:100%;
}

body {
	background-color:$grey-lightest;
	background-image:url("../Media/main.png");
}

a {
	display:inline-block;
}

.box {
	margin:10px 0;
	padding:10px;
	border:1px solid $border;
	background-color:white;
	@include border-radius(5px);
}

.diamond {
	width:40px;
	height:40px;
	border:0;
	padding:0;
	@include transform(rotate(45deg));
}

.toggle {
	position:absolute;
	top:50%;
	margin-top:-20px;
	@include transition(margin 0.3s);

	&:hover {
		@include transform(rotate(45deg));
	}
}

.circle {
	@include border-radius(100%);
}

main {
	left:span(2);
	width:span(32);

	@include screen($xs) {
		left:span(10);
		width:span(25);
	}
}

body.nav-toggled {
	overflow:hidden;

	@include screen($xs) {
		overflow:auto;
	}
}

.nav-toggled main {
	@include screen($xs) {
		left:span(1);
		width:span(34);
	}
}

main {
	position:relative;
	height:100%;
	padding:1em 2.5% 0 2.5%;
	@include transition(all 0.3s);
	@include perspective(100px);
	@include animation(1s ease 0s normal forwards 1 fadeIn);
	@include transform(rotateY(0));
	
	header {
		text-align:center;
		margin-bottom:0.5em;
	}

	.content {
		min-height:100%;
		margin-bottom:-30px;

		&:after {
			content:"";
			display:block;
			height:30px;
		}
	}

	img {
		max-width:100%;
	}

	footer {
		height:30px;
		padding:5px;
		text-align:center;
	}
}

