.post-preview {
	display:block;
	color:$grey-dark;
	text-decoration:none;
	background-color:white;
	border:1px solid $border;
	padding:10px;
	margin:5px 0;
	@include border-radius(5px);

	&:hover {
		h2 {
			text-decoration:underline;
		}
	}

	p {
		margin:0;
	}
}
