.portfolio {
	overflow:hidden;

	&:hover > .example {
		@include opacity(0.6);
	}

	@include screen($xs) {
		margin:auto span(-0.5);
	}
}

.portfolio > .example {
	float:left;
	width:span(36);
	padding:20px;
	border:1px solid $border;
	cursor:pointer;
	background-color:white;
	color:$grey-dark;
	text-decoration:none;
	@include border-radius(5px);
	@include transition(all 0.3s);

	&:hover {
		text-decoration:underline;
		@include opacity(1);
	}

	.info {
		padding-bottom:20px;
		text-align:center;
	}

	img {
		border:1px solid $border;
	}

	@include screen($xs) {
		width:span(11);
		margin:span(0.5);
	}
}

