aside.nav {
	float:left;
	position:fixed;
	top:0;
	width:span(36);
	margin-left:span(-35);
	height:100%;
	background-color:black;
	background-image:url("../Media/aside.png");
	overflow:hidden;
	z-index:2;
	@include transition(all 0.3s);

	* {
		@include opacity(0);
		@include transition(all 0.3s);

		@include screen($sm) {
			@include opacity(1);
		}
	}

	@include screen($sm) {
		width:span(10);
		margin-left:0;
	}

	header {
		position:absolute;
		left:0;
		top:0;
		width:95%;
		height:200px;
		max-height:30%;
		background-image:url("../Media/header.jpg");
		background-size:cover;
		background-position:center;
		background-repeat:none;
		margin:2.5%;
		color:white;
		text-align:center;
		@include border-radius(10px);

		@include screen($xs) {
			max-height:40%;
		}

		img {
			max-height:50%;
			border:1px solid white;

			@include screen($xs) {
				margin-top:15px;
			}
		}
	}

	nav {
		position:relative;
		top:50%;
		padding:0 30px;
		text-align:center;
		overflow:hidden;
		@include transform(translateY(-50%));

		a {
			position:relative;
			display:inline-block;
			text-decoration:none;
			border:1px solid white;
			padding:5px 10px;
			color:white;
			font-size:1.5em;
			overflow:hidden;
			@include border-radius(10px);

			&:hover, &:focus {
				background-color:white;
				color:black;
			}

			&.active {
				&:before, &:after {
					content:"";
					position:absolute;
					left:0;
					width:110%;
					height:2px;
					background-color:white;
				}

				&:before {
					top:0;
				}

				&:after {
					bottom:0;
				}
			}
		}
	}

	footer {
		position:absolute;
		bottom:0;
		width:100%;
		height:42px;
		margin:5px 0;
		text-align:center;

		a {
			position:relative;
			bottom:0;
			height:42px;
			margin:0 5px;
			text-decoration:none;
			@include transition(all 0.3s);

			&:hover, &:focus {
				i {
					top:0;
				}
			}
		}
		
		i {
			position:relative;
			display:inline-block;
			width:32px;
			height:32px;
			top:10px;
			color:white;
			line-height:32px;
			@include border-radius(50%);

			&.icon-github {
				background-color:rgb(32,31,31);
			}

			&.icon-stackoverflow {
				background-color:rgb(0,115,178);
			}

			&.icon-linkedin {
				background-color:rgb(254,122,21);
			}
		}
	}
}

.nav-toggled aside.nav {
	margin-left:0;

	@include screen($sm) {
		margin-left:span(-9);
	}

	* {
		@include opacity(1);

		@include screen($sm) {
			@include opacity(0);
		}
	}
}

#nav-open {
	position:fixed;
	left:span(1);
	margin-left:-25px;
	background-image:url("../Media/aside.png");
	z-index:1;

	&:hover {
		margin-left:-20px;
	}
}

#nav-close {
	right:0;
	margin-right:-25px;
	background-color:$grey-lightest;
	background-image:url("../Media/main.png");

	&:hover, &:focus {
		margin-right:-20px;
	}
}

aside.right {
	position:fixed;
	right:0;
	bottom:0;
	//width:2.5%;
	width:span(1);
	height:100%;
	background-color:black;
	background-image:url("../Media/aside.png");
}

