html {
    overflow-y:overlay;
}

body {
    background-color:$grey-lightest;
    background-image:url("/media/main.png");

    &.exiting {
        main, aside.right {
            animation:0.1s ease 0s normal forwards 1 fadeOut;
        }
    }
}

body.nav-toggled {
    overflow:hidden;

    @include screen($sm) {
        overflow:auto;
    }
}

.nav-toggled main {
    @include screen($sm) {
        left:span(1);
        width:span(34);
    }
}
