$susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: split,
    container: 1200px,
    container-position: center,
    columns: 36,
    gutters: 0,
    column-width: false,
    global-box-sizing: border-box ,
    last-flow: to,
    debug: (
        image: hide,
        color: rgba(#66f, .25),
        output: background,
        toggle: top right,
    ),
    use-custom: (
        background-image: true,
        background-options: false,
        box-sizing: true,
        clearfix: false,
        rem: true,
    )
);

@include border-box-sizing;

body {
    background-color:$grey-lightest;
    background-image:url("../Media/main.png");
}

a {
    display:inline-block;
}

.box {
    margin:10px 0;
    padding:20px;
    border:1px solid $border;
    background-color:white;
    @include border-radius(5px);

    p:first-child {
        margin-top:0;
    }

    p:last-child {
        margin-bottom:0;
    }

    iframe {
        width:100%;
    }
}

.meta {
    padding:10px;
    background-image:url("../Media/main.png");
    color:black;
    border:1px solid $border;
    @include border-radius(5px);
}

.diamond {
    width:40px;
    height:40px;
    border:0;
    padding:0;
    @include transform(rotate(45deg));
}

.toggle {
    position:absolute;
    top:50%;
    margin-top:-20px;
    cursor:pointer;
    @include transition(margin 0.3s);

    &:hover {
        @include transform(rotate(45deg));
    }
}

.circle {
    @include border-radius(100%);
}

body.nav-toggled {
    overflow:hidden;

    @include screen($sm) {
        overflow:auto;
    }
}

.nav-toggled main {
    @include screen($sm) {
        left:span(1);
        width:span(34);
    }
}

main {
    display:flex;
    flex-direction:column;
    position:relative;
    left:span(2);
    width:span(32);
    min-height:100vh;
    padding:1em 2.5% 0 2.5%;
    @include transition(all 0.3s);
    @include perspective(100px);
    @include animation(1s ease 0s normal forwards 1 fadeIn);
    @include transform(rotateY(0));

    @include screen($sm) {
        left:span(10);
        width:span(25);
    }

    &.exiting {
        @include animation(0.1s ease 0s normal forwards 1 fadeOut);
    }

    a:not(.post-preview) {
        word-break:break-all;
    }
    
    .content {
        min-height:100%;
        margin-bottom:-30px;

        &:after {
            content:"";
            display:block;
            height:30px;
        }
    }

    .spacer {
        flex:1;
    }

    img, video {
        display:block;
        max-width:100%;
        margin:1em auto;
    }

    footer {
        height:30px;
        padding:5px;
        text-align:center;

        &:hover {
            span {
                display:none;
            }

            .song {
                display:block;
            }
        }

        span {
            cursor:pointer;
        }

        .song {
            display:none;
        }
    }
}

.tracks {
    width:100%;
    height:300px;
    border:0;
}

.center {
    text-align:center;
}
