.post-preview-columns {
    display:flex;

    @include screen($xs) {
        margin:0 span(-0.5);
    }

    .post-preview {
        display:flex;
        flex-direction:column;
        float:left;
        width:span(11);
        margin:0 span(0.5);

        .meta {
            margin-top:auto;
        }
    }
}

.post-preview {
    display:block;
    color:$grey-dark;
    text-decoration:none;
    background-color:white;
    border:1px solid $border;
    padding:10px;
    margin:10px 0;
    @include border-radius(5px);

    &:hover, &:focus {
        h2 {
            text-decoration:underline;
        }
    }

    h2 {
        margin-top:0;
    }
}

.post-nav {
    overflow:hidden;
    position:relative;
    width:100%;
    padding:0;
    font-size:0;

    .nav-item {
        position:relative;
        width:100%;
        overflow:hidden;
        text-decoration:none;
        overflow:hidden;
        font-size:$base-font-size;

        .post-nav-arrow {
            display:inline-block;
            height:100%;
            font-size:2em;
            padding:0 5px;
            background-color:white;
            @include border-radius(5px);
        }

        &.prev-post {
            float:left;
            padding-left:0;

            .post-nav-arrow {
                float:left;
            }

            .post-nav-title {
                margin-left:25px;
            }
        }

        &.next-post {
            float:right;
            padding-right:0;

            .post-nav-arrow {
                float:right;
            }

            .post-nav-title {
                margin-right:25px;
            }
        }

        .post-nav-title {
            display:block;
            padding:10px;
            color:$grey-dark;
            overflow:hidden;

            @include screen($xs) {
                white-space:nowrap;
            }
        }
    }
}

// Styles only if there are next and previous psot links.
// Can't use focus events for accessibility as the .post-nav parent
// can't both be focused as well as the .nav-item.
.post-nav.post-nav-next-prev {
    @include screen($xs) {
        &:hover {
            .nav-item {
                width:25%;
            }
        }
    }

    .nav-item {
        @include screen($xs) {
            width:50%;
            @include transition(width 0.3s);
        }

        &:hover {
            @include screen($xs) {
                width:75%;
            }
        }

        &.prev-post {
            border-bottom:1px solid $grey;

            @include screen($xs) {
                border-right:1px solid $grey;
                border-bottom:0;
            }
        }
    }
}

