$sass-burger-add-vendor-prefixes: false;

#burger {
    display:block;
    position:absolute;;
    right:span(3);
    right:calc(#{span(3)} - 12.5px);
    top:17.5px;
    width:50px;
    height:50px;
    z-index:3;

    @include screen($sm) {
        display:none;
    }

    .burger-icon {
        @include burger(25px, 3px, 5px, $grey-dark);
        left:12.5px;
        top:12.5px;
    }
}

.nav-toggled {
    #burger {
        .burger-icon {
            @include burger-to-cross(white);
        }
    }
}
