@include border-box-sizing;

$susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: split,
    container: 1200px,
    container-position: center,
    columns: 36,
    gutters: 0,
    column-width: false,
    global-box-sizing: border-box ,
    last-flow: to,
    debug: (
        image: hide,
        color: rgba(#66f, .25),
        output: background,
        toggle: top right,
    ),
    use-custom: (
        background-image: true,
        background-options: false,
        box-sizing: true,
        clearfix: false,
        rem: true,
    )
);
