html {
	font-size:$base-font-size;
}

h1, h2, h3, h4, h5, h6, p {
	margin:0.5em 0;
}

h1 {
	display:inline;
	font-size:1em;
	line-height:1em;
}

h2 {
	font-size:1.2em;
	margin:1em 0 0.5em 0;
}

h3 {
	font-size:1.1em;
	margin:1em 0 0.5em 0;
}

h4 {
	font-size:1em;
}

h5 {
	font-size:1em;
}

h6 {
	font-size:1em;
}

p {
	margin:1em 0 1em 0;
	font-size:1em;
	line-height:1.6em;
}

pre {
	max-height:500px;
}
