.youtube-video {
    display:block;
    position:relative;
    // https://css-tricks.com/aspect-ratio-boxes/
    // I'm normally finding background images which are 1280px by 720px so get the video placeholder to always be
    // that aspect ratio:
    padding-top:720px / 1280px * 100%;
    margin:10px 0;
    background-repeat:none;
    background-size:cover;
    background-position:50% 50%;

    &:hover, &:focus {
        &:before {
            opacity:0.5;
        }
    }

    &:before {
        position:absolute;
        content:'';
        width:100%;
        height:100%;
        left:0;
        top:0;
        background:black;
        opacity:0;
        transition:all 0.3s;
    }

    .youtube-video-play {
        position:absolute;
        left:50%;
        top:50%;
        padding:10px;
        margin-left:-26px;
        margin-top:-26px;
        font-size:32px;
        color:white;
        background-color:black;
    }
}
